{{ define "base/headerItem.html" }}
<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Best albums: My Library</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
  <link rel="stylesheet" href="../../static/css/superStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.4/tailwind.min.css'>
</head>
<body>

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="20"><use xlink:href="/"/></svg>
      <span class="fs-4">Лучшие альбомы</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active">Управление:</a></li>
      <li class="nav-item"><a href="/{{.item}}/{{.ID}}/edit" class="nav-link">Изменить</a></li>
      <li class="nav-item"><a href="/" class="nav-link" onclick="delItem()" >Удалить</a></li>
    </ul>
    <a href="/{{.item}}/{{.ID}}/delete" id="delLink"></a>
    <script src="../../static/js/delScript.js"></script>
  </header>
</div>

{{ end }}