{{ define "albums/artist.html" }}
{{ template "base/headerArtist.html" . }}
<body>

<!--Item slider text-->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-left g-5 py-5">

    <h1 class="display-5 fw-bold lh-1">{{.artist.ArtistName}}</h1>
    <p class="lead">Начало карьеры: {{.artist.Year}}</p>

  </div>
</div>

<!-- Item slider-->
<section class="section-products">
  <div class="container">

    <div class="row">
      {{ range .albums }}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-1" class="single-product">
          <div class="part-1" style="background:url({{ .ImagePath }}) no-repeat left">
            <span class="rating">{{ .Rating }}</span>
          </div>
          <div class="part-2">
            <a class="album-name" href="/albums/{{.ID}}">{{ .Name }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- partial -->
{{ template "base/footer.html" . }}
{{ end }}
